/* NAVBAR */
#nav-options li:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}
/* HEADER */
header img {
    padding-top: 2%;
}
#header-buttons {
    display: flex;
    gap: 2%;
}
/* WEB-CONTENT */
.body-part {
    gap: 100px;
}
/* WHAT IS IHD */
#what-is-ihd img{
    align-self: center;
    width: 100%;
    object-fit: cover;
}
/* HOW WE CELEBRATE */

.body-link {
    color: rgb(0, 0, 0);;
    text-decoration: none;
    border-bottom: 1px dotted black;
}
.body-link:hover {
    font-weight: 600;
}