#nav-options li:not(#nav-user):hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}
#nav-user {
    background-color:rgb(255, 242, 125);
}

/* HEADER */
#avatar {
    border-radius: 50%;
    min-height: 120px;
    min-width: 120px;
    margin-right: 9%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header-buttons {
    display: flex;
    gap: 3%;
}
/* BLOGPOST */
/* BLOGPOST - Post */
#polaroid-display {
    height: auto;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    /* border: black solid 1px; */
}
.post {
    margin-top: 30px;
    padding: 20px 20px 40px 20px;
    /* border: 1px solid black; */
    border-radius: 1%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 30%;
    min-width: 300px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.post:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}
.post img {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 2px;
    margin: 10px;
    width: 90%;
    height: 234px;
    object-fit: cover;
    /* border: black solid 1px; */
}
.post .caption {
    /* border: black solid 1px; */
    width: 90%;
    margin-top: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
    text-align: center;
}

/* NUMBER BUTTONS */
#number-list {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.number-button {
    margin-top: 20px;
    border-radius: 5px;

    width: fit-content;
    padding: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-button > a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.active {
    background-color: black;
    cursor: pointer;
}
.active>a, .number-button:hover>a {
    color: white;
}
.number-button:not(.active):hover{
    background-color: rgb(39, 39, 39);;
    cursor: pointer;
}